* {
    font-family: monospace;
    margin: 20px;
}

.heading {
    background-color: rgb(32, 32, 255);
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 25%;
}

.para {
    color: white;
    font-style: italic;
    font-size: 20px;
    background-color:rgb(39, 114, 228);
    border-radius: 30px;
    padding: 20px;
}

.recipes {
    font-size: 15px;
    padding: 20px;
}

.recipe-link {
    font-size: 30px;
    display: inline-block;
    margin: 20px;
}

a {
    font-size: 30px;
    
}

.ingredients {
    font-size: 18px;
    background-color: rgb(39, 114, 228);
    border-radius: 30px;
}

.steps {
    font-size: 18px;
    background-color: rgb(39, 114, 228);
    border-radius: 30px;
    padding: 30px;
}

.list-item {
    border-color: white;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 3px solid;
}

.unordered {
    display: inline-block;
    margin: 10px;
}

.h1 {
    font-size: 60px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 30px;
}